---
---


<div id="{{entry.key}}">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    <span class="author">
      {% for author in entry.author_array %}
        {% unless forloop.last %}
          {% if author.first == site.scholar.first %}
          <strong>{{author.first}} {{author.last}}</strong>,
          {% else %}
            {% if site.data.coauthors[author.first] %}
              <a href="{{site.data.coauthors[author.first].url}} " target="_blank"  style="color: #555555;">{{author.first}} {{author.last}}</a>,
            {% else %}
              {{author.first}} {{author.last}},
            {% endif %}
          {% endif %}
        {% else %}
          {% if author.first == site.scholar.first %}
            <strong> {{author.first}} {{author.last}}</strong>,
          {% else %}
            {% if site.data.coauthors[author.first] %}
              <a href="{{site.data.coauthors[author.first].url}}" target="_blank"  style="color: #555555;">{{author.first}} {{author.last}}</a>,
            {% else %}
              {{author.first}} {{author.last}},
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </span>

    {% if entry.doi != "" %}
      <a href="http://doi.org/{{entry.doi}}" target="_blank" style="color: #555555;">"<span class="title">{{entry.title}}</span>,"</a>
    {% elsif entry.url != "" %}
      <a href="{{entry.url}}" target="_blank" style="color: #555555;">"<span class="title">{{entry.title}}</span>,"</a>
    {% else %}
      <!-- {% if entry.title != "" %} -->
      "<span class="title">{{entry.title}}</span>,"
      <!-- {% endif %} -->
    {% endif %}

    <span class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
        {% if entry.volume!= "" %}
          {{entry.volume}}
        {% endif %}
        {% if entry.number!= "" %}
          ({{entry.number}})
        {% endif %}
        {% if entry.pages!= "" %}
          : {{entry.pages}},
        {% endif %}
        {% if entry.month %}
        <span style="text-transform:capitalize">{{entry.month}}. </span>
        {% endif %}
        {% if entry.year %}
          {{entry.year}}.
        {% endif %}
        <!-- {% if entry.ifactor != "" %}
        (IF: {{entry.ifactor}}).
        {% endif %} -->
      {% elsif entry.type == "conference" %}
        <em>In {{entry.booktitle}}</em>,
        {% if entry.address %}
          {{entry.address}},
        {% endif %}
        {% if entry.month %}
        <span style="text-transform:capitalize">{{entry.month}}. </span>
        {% endif %}
        {% if entry.year %}
          {{entry.year}}.
        {% endif %}
      {% elsif entry.type == "talk" %}
        <em>In {{entry.booktitle}}</em>,
        {% if entry.address %}
          {{entry.address}},
        {% endif %}
        {% if entry.month %}
        <span style="text-transform:capitalize">{{entry.month}}. </span>
        {% endif %}
        {% if entry.year %}
          {{entry.year}}.
        {% endif %}
      {% else %}
        {% if entry.year %}
          {{entry.year}}.
        {% endif %}
      {% endif %}
    </span>
    {% endif %}

    
    <!-- <div class="dropDownBibtex" id="{{key}}-bibtex">
        <pre>{{entry.bibtex}}</pre>
    </div> -->
    <span class="links" style="margin-bottom: 2px;">
    {% if entry.file %}
      <a href="{{site.baseurl}}/files/papers/{{ entry.file }}" target=""><i class="fa fa-pdf-o fa-align-left fa-sm"></i></a>
    {% endif %}
    {% if entry.video %}
    <a href="{{ entry.video }}" target=""><i class="fa fa-youtube-play fa-align-left fa-sm"></i></a>
    {% endif %}
    {% if entry.code %}
      <a href="{{ entry.code }}" target="_blank"><i class="fa fa-github fa-align-left fa-sm"></i></a>
    {% endif %}
    {% if entry.project %}
      <a href="{{ entry.project }}" target="_blank"><i class="fa fa-globe fa-align-left fa-sm" ></i></a>
    {% endif %}
    {% if entry.news %}
    <a href="{{ entry.news }}" target="_blank"><i class="fa fa-newspaper-o fa-align-left fa-sm"></i></a>
    {% endif %}
    {% if entry.kaustdiscovery %}
    | <a href="{{ entry.kaustdiscovery }}" target="_blank"><img src="{{site.baseurl}}/images/logo/kaustdiscovery.svg" alt="News" style="height:18px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}
    {% if entry.eurekalert %}
    <a href="{{ entry.eurekalert }}" target="_blank"><img src="{{site.baseurl}}/images/logo/eurekalert.svg" alt="News" style="height:16px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}
    {% if entry.physorg %}
    <a href="{{ entry.physorg }}" target="_blank"><img src="{{site.baseurl}}/images/logo/physorg.png" alt="News" style="height:26px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}    
    {% if entry.acm %}
    <a href="{{ entry.acm }}" target="_blank"><img src="{{site.baseurl}}/images/logo/acm.svg" alt="News" style="height:26px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}
    {% if entry.innovation %}
    <a href="{{ entry.innovation }}" target="_blank"><img src="{{site.baseurl}}/images/logo/innovation.png" alt="News" style="height:16px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}
    {% if entry.floridanews %}
    <a href="{{ entry.floridanews }}" target="_blank"><img src="{{site.baseurl}}/images/logo/floridanews.svg" alt="News" style="height:18px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}
    {% if entry.newsbreak %}
    <a href="{{ entry.newsbreak }}" target="_blank"><img src="{{site.baseurl}}/images/logo/newsbreak.png" alt="News" style="height:18px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}
    {% if entry.natureresearch %}
    <a href="{{ entry.natureresearch }}" target="_blank"><img src="{{site.baseurl}}/images/logo/natureresearch.svg" alt="News" style="height:18px; border-radius: 0%; box-shadow: 0px 0px 0px 0px #ffffff00; margin-top: 0px;"></a>
    {% endif %}
    </span>

   
    {% if entry.award %}
    <i class="fa fa-trophy fa-align-left  fa-sm"></i>
      <span class="note" class="small" style="color:rgb(61, 61, 243);">{{entry.award}}</span>
    {% endif %}
    
    {% if entry.note.length > 0 %}
      <br/>
      <span class="note" class="small" style="color:rgb(61, 61, 243); ">
        {{entry.note}}
      </span>
    {% else if entry.note !="" %}
      <span class="note" class="small" style="color:rgb(61, 61, 243);">
        {{entry.note}} 
      </span>
    {% endif %}

</div>
